In [8]:
import psycopg2 as pg
import pandas as pd

In [3]:
conn = pg.connect(
    dbname='du3ei8ueu091v',
    user='egfsavntlyhemy',
    host='ec2-54-74-35-87.eu-west-1.compute.amazonaws.com',
    password='433cb5ea8c0fc75807cb66721dede0dcba679b2efaa35a7f0693596f9507a1b5'
)

In [4]:
curs = conn.cursor()

In [9]:
curs.execute('''SELECT * FROM _players;''')
df_init = curs.fetchall()
df = pd.DataFrame(df_init)
df

       0 1                     2   3     4 5     6
0      1           P. Bernardoni   1  Gar.     FRA
1      2              L. Butelle   1  Gar.     FRA
2      3             D. Petkovic   1  Gar.     MNE
3      4                A. Bamba   1  Déf.     CIV
4      5                 K. Boma   1  Déf.     FRA
..   ... ..                  ...  ..   ... ..  ...
635  636              M. Dembélé   8  Att.     FRA
636  637                M. Niang  18  Att.     SEN
637  638             N. Radonjic   9  Mil.     SRB
638  639     D. Pereira Da Costa   5  Att.     PRT
639  640               Y. Sabaly   2  Def.     SEN

[640 rows x 7 columns]