In [1]:
import glob
import numpy as np 
import pandas as pd 
from bs4 import BeautifulSoup
import requests
import matplotlib.pyplot as plt 
import seaborn as sns

In [2]:
meteo_data = []
for infile in glob.glob("/content/sample_data/meteo/*.html"):
    data = pd.read_html(infile)[1]
    # store DataFrame in list
    meteo_data.append(data)
# see pd.concat documentation for more info
meteo_data = pd.concat(meteo_data)
meteo_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16635 entries, 0 to 27
Data columns (total 5 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Jour                            16635 non-null  object
 1   Unnamed: 1                      0 non-null      float64
 2   Températures et précipitations  16635 non-null  object
 3   Avis sur la météo               16635 non-null  object
 4   Détails                         16635 non-null  object
dtypes: float64(1), object(4)
memory usage: 779.8+ KB

In [3]:
df1 = meteo_data["Températures et précipitations"].str.split(expand=True,)

In [4]:
df1

               0  1                        2  3    4
0   Températures  :  15°C/21°CPrécipitations  :  0mm
1   Températures  :  18°C/20°CPrécipitations  :  0mm
2   Températures  :  17°C/19°CPrécipitations  :  0mm
3   Températures  :  12°C/18°CPrécipitations  :  0mm
4   Températures  :  17°C/18°CPrécipitations  :  0mm
..           ... ..                      ... ..  ...
23  Températures  :  11°C/15°CPrécipitations  :  0mm
24  Températures  :  11°C/17°CPrécipitations  :  0mm
25  Températures  :  12°C/21°CPrécipitations  :  0mm
26  Températures  :  12°C/21°CPrécipitations  :  0mm
27  Températures  :  13°C/22°CPrécipitations  :  0mm

[16635 rows x 5 columns]

In [5]:
df_precipitations = df1[4].str.split('mm', expand=True,)
P = df_precipitations[0]
P

0     0
1     0
2     0
3     0
4     0
     ..
23    0
24    0
25    0
26    0
27    0
Name: 0, Length: 16635, dtype: object

In [6]:
df1[2]

0     15°C/21°CPrécipitations
1     18°C/20°CPrécipitations
2     17°C/19°CPrécipitations
3     12°C/18°CPrécipitations
4     17°C/18°CPrécipitations
               ...
23    11°C/15°CPrécipitations
24    11°C/17°CPrécipitations
25    12°C/21°CPrécipitations
26    12°C/21°CPrécipitations
27    13°C/22°CPrécipitations
Name: 2, Length: 16635, dtype: object

In [7]:
df_temperatures = df1[2].str.split('Précipitations', expand=True,)

In [8]:
temperatures = df_temperatures[0].str.split('/', expand=True,)
temperatures

       0     1
0   15°C  21°C
1   18°C  20°C
2   17°C  19°C
3   12°C  18°C
4   17°C  18°C
..   ...   ...
23  11°C  15°C
24  11°C  17°C
25  12°C  21°C
26  12°C  21°C
27  13°C  22°C

[16635 rows x 2 columns]

In [9]:
T_1 = temperatures[0].str.split('°', expand=True,)
T_1

     0  1
0   15  C
1   18  C
2   17  C
3   12  C
4   17  C
..  .. ..
23  11  C
24  11  C
25  12  C
26  12  C
27  13  C

[16635 rows x 2 columns]

In [10]:
T1 = T_1[0]
T1

0     15
1     18
2     17
3     12
4     17
      ..
23    11
24    11
25    12
26    12
27    13
Name: 0, Length: 16635, dtype: object

In [11]:
T_2 = temperatures[1].str.split('°', expand=True,)
T_2

     0  1
0   21  C
1   20  C
2   19  C
3   18  C
4   18  C
..  .. ..
23  15  C
24  17  C
25  21  C
26  21  C
27  22  C

[16635 rows x 2 columns]

In [12]:
T2 = T_2[0]
T2

0     21
1     20
2     19
3     18
4     18
      ..
23    15
24    17
25    21
26    21
27    22
Name: 0, Length: 16635, dtype: object

In [13]:
meteo_data["temperatures1"]=T1
meteo_data["temperatures2"]=T2

In [14]:
meteo_data["precipitations"]=P

In [15]:
meteo_data["precipitations"].head()

0    0
1    0
2    0
3    0
4    0
Name: precipitations, dtype: object

In [16]:
meteo_data["date"] = meteo_data["Jour"]
meteo_data["Avis"] = meteo_data["Avis sur la météo"]

In [17]:
meteo_data = meteo_data.drop(columns=["Jour", "Avis sur la météo", "Unnamed: 1","Températures et précipitations","Détails"])

In [18]:
meteo_data = meteo_data[["date", "temperatures1", "temperatures2", "precipitations", "Avis"]]
meteo_data

          date temperatures1 temperatures2 precipitations       Avis
0   01/05/2020            15            21              0  favorable
1   02/05/2020            18            20              0  favorable
2   03/05/2020            17            19              0  favorable
3   04/05/2020            12            18              0  favorable
4   05/05/2020            17            18              0  favorable
..         ...           ...           ...            ...        ...
23  24/02/2019            11            15              0    correct
24  25/02/2019            11            17              0    correct
25  26/02/2019            12            21              0  favorable
26  27/02/2019            12            21              0  favorable
27  28/02/2019            13            22              0  favorable

[16635 rows x 5 columns]

In [19]:
meteo_data.to_csv("/content/sample_data/meteo/meteo_data.csv")